@font-face {
  font-family: 'Gotham';
  src: asset-url('Gotham-Black.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Grotesk';
  src: asset-url('Grotesk-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}