<div class="nav-icon" onclick="toggleNav()">
  <div class="image" id="nav-image"></div>
</div>
<div class="nav" id="nav">
  <ul id="nav-list">
    <li><a href="/">Allies</a></li>
    <!--<li><a href="/roster">Roster</a></li>-->
    <li><a href="/projects">Projects</a></li>
    <!--<li><a href="">Shop</a></li>-->
    <li><a href="/contact">Contact</a></li>
  </ul>
</div>