<!DOCTYPE html>
<html>
<head>
  <title>ALLIES</title>
  <meta name="viewport" content="initial-scale=01.0, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7002632/788002/css/fonts.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZd9COb4uJzU8E3UZyyWP28pXIm9HeCzw"></script>
</head>
<body onresize = "resize()">


<%= yield %>

</body>
</html>
